@use './partials/variables.scss' as *;
@use './partials/mixin.scss' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', sans-serif;
    // background-color: $grey;
    color: $white;
    letter-spacing: .13rem;
}
.container{
    width :60%;
    max-width: 1140px;
    margin: 0 auto;
}
li{
    list-style: none;
}
.caps{
    text-transform: uppercase;
}
button.caps{
       font-weight: 700;
}
.sec-title{
    font-size: 70%;
    font-weight: 700;
    letter-spacing: 0.4rem;

}
a{
    text-decoration: none;
    color: $white;

}