/* color palete */
$salmon: #FC8C5E;
$lightblue: #74DEF4;
$white: white;
$lightgrey: #aeaeae;
$dark: #1a1b1b;
$grey: #62676C;
$blue: #27AABE;
$youtube: #951A0C;
$facebook: #516FAA;
$blue-into-purple: linear-gradient(90deg, #27AABE 0%, #6A5FE1 100%);